body {
  background: rgb(230, 233, 132);
}
.link-block {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  padding: 25px;
  font-size: 22px;
}
a {
  color: rgb(78, 96, 51);
  font-size: 22px;
}
img {
  max-width: 350px;
  display: block;
  margin: 25px auto;
}
